
@{
    ViewData["Title"] = "API";
}

<h1>API</h1>
<hr />

In addition to the website showcasing this data, we have an api for this purpose. Both Weapons and Armor are supported for this. See below for a guide.


<div class="card mb-3">
    <div class="card-header"><h4 class="card-title">Weapons</h4></div>
    <div class="card-body">
        <p class="card-text">You can retrieve a list of all weapons using the following request:</p>
        <div class="alert alert-light" role="alert">
            <code><a href="https://genesysitemcollection.azurewebsites.net/api/weaponapi">https://genesysitemcollection.azurewebsites.net/api/weaponapi</a></code>
        </div>
    </div>