@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Genesys Item Collection</h1>
    
    <p>This website contains a listing of weapons and armor for Fantasy Flight Games' Genesys and Star Wars tabletop role-playing game systems. In addition, an API is provided to get the information easily. Click the buttons below to go to their respective pages.</p>
    <div class="row mx-auto">
        <a class="btn btn-primary" asp-area="" asp-controller="Weapon" asp-action="Index">Weapons</a>
        <a class="btn btn-primary" asp-area="" asp-controller="Armor" asp-action="Index">Armor</a>
        <a class="btn btn-outline-primary"  asp-area="" asp-controller="Home" asp-action="API">API</a>
    </div>
</div>
