@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Genesys Item Collection</h1>
    <p>#1 destination for resources compatible with the Genesys and Star Wars FFG tabletop role-playing games.</p>

    <p>This website allows for the creation and viewing of resource put on the site. Available categories are Weapons, Armor and general items. In addition, there are many api options for all categories.</p>
</div>
